/* Estilos para el banner */
.banner {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  position: relative; /* Asegura que el posicionamiento absoluto funcione correctamente */
}

/* Estilos para la imagen */
.banner-image {
  max-width: 100%;
  height: auto;
}

/* Estilos para el contenedor del contenido del banner */
.banner-content {
  position: relative;
   /* Asegura que el posicionamiento absoluto funcione correctamente */
}

/* Estilos para el botón "Ver más productos" */
.ver-mas-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; /* Agrega bordes redondeados */
  position: absolute;
  top: 20px; /* Distancia desde la parte superior */
  left: 20px; /* Distancia desde la izquierda */
}

.ver-mas-btn:hover {
  background-color: #0056b3;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Estilos para el menú */
.menu {
  background-color: #333;
  color: white;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Elimina el margen predeterminado */
  display: flex; /* Muestra los elementos en línea */
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #555;
  display: flex; /* Alinea los íconos y el texto */
  align-items: center; /* Centra verticalmente los íconos y el texto */
}

.menu li:last-child {
  border-bottom: none;
}

 
.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: #f0f0f0;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}